
.single-connect {}

.single-connect__name {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}






.multi-connect  {}

.multi-connect__name {
    display: block;
    font-weight: bold;
    line-height: 60px;
}

.multi-connect__action {
    text-align: right;
    padding-top: 20px;
}
